*{
	margin:0 auto;
	color: white;
	/*font-size: 18px;*/
	font-size: 5vw;

}

body{
	height:100%;
	width:100%;

}
#content_main {
	width: 100%;
	height: 75%;
	/*float: bottom;*/
}
#content_side {
	/*display: none;*/
	height: 25%;
	width: 100%;
	/*float: bottom;*/
}