html, body {
    background: #cecece;
    height: 50%;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.5em;
    /* text-align: justify; */
}
body {
    margin: 0;
}
div {
    /* border: solid 1px black; */
}

.t_title {
    font-size: 3vh;
    font-style: italic;
    font-weight: bold;
}


/* div layout */
div#t_header {
    /* float: left; */
    height: 15vh;
    background-color: olivedrab;
}
div#wm_middle {
    height: 50vh;
}

div#l_menu {
    float: left;
    width: 15%;
    height: 100%;
    background-color: rosybrown;
}

div#m_panel {
    float: left;
    width: 50%;
    height: 100%;
    background-color: cadetblue;
}

div#r_display {
    float: left;
    width: 35%;
    height: 100%;
    background-color: darkslategray;
}

div#b_footer {
    float: left;
    width: 100%;
    height: 15vh;
    background-color: #b4bcde;
}

div#mm_panel.t_title {
    width: 100%;
    height: 20%;      
    background-color: palevioletred;  
}

div#mm_panel.content {
    width: 100%;
    height: 80%;      
    background-color: palevioletred;  
}

div#rr_display_ref {
    display: none;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

textarea#e_m_panel {
    resize: none;
    width: 90%;
    /* height: 90%; */
    height: 350px;
    background-color: gray;
    color: #132444;
    font-size: 3vh;
    /* font-family: 'Nanum Myeongjo', serif; */
    /* font-family: 'Nanum Pen Script', cursive; */
    /* .jg{font-family: 'Jeju Gothic', sans-serif; */
    /* .jm{font-family: 'Jeju Myeongjo', serif; */
    /* .kb{font-family: 'KoPub Batang', serif; */
    /* .nb{font-family: 'Nanum Brush Script', cursive; */
    /* .ns{font-family: 'Noto Sans KR', sans-serif; */
    /* .hn{font-family: 'Hanna', sans-serif; */
    /* .ng{font-family: 'Nanum Gothic', sans-serif; */
    /* font-family: 'Nanum Myeongjo', serif; */
    /* .jh{font-family: 'Jeju Hallasan', cursive; */
    /* .ngc{font-family: 'Nanum Gothic Coding', monospace; */
}

